@import './colors.scss';

.editMapComponent {
    overflow: hidden; 
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 5em;
    width: 90%;

    .mapImage {
        text-align: center;
    }
}

.loading {
    padding-left: 47%;
    padding-top: 10%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    opacity: 0.5;

    .spinIcon {
        font-size: 75px;
        color: $primary-color;
    }
}

.spacingImages {
    padding-bottom: 5%;
}

//TODO: refactor into more general styles (in app)