@import './colors.scss';

.headerComponent{
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // flex-wrap: nowrap;

    //      //TODO: responsive position (see flex to the component)
   
}