@import './colors.scss';

.headerComponent{
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    // padding: 1%;
    

    //  .avatar {
    //      //TODO: responsive position (see flex to the component)
    //     //  margin-left: 35%;
    //  }
    // // strong {
    // //     margin-left: 1%;
    // //     font-size: 1.5rem;
    // //  }
        
     .logButton {
         justify-content: space-between;
        // float: right;
    //     // margin-right: 1%;
    //     // margin-top: 1.5%;
    }
}