@import './colors.scss';

.headerComponent{
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
   
    .logo:hover {
        cursor: pointer;
    }

    .title {
        vertical-align: center  ;
        margin-top: 0.5em;
        margin-right: 0.75em;
    }
}