@import './colors.scss';

.loading {
    padding-left: 40%;
    padding-top: 10%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    opacity: 0.5;

    .spinIcon {
        font-size: 75px;
        color: $primary-color;
    }
}

.singleCard {
    margin-left: 6vh;
    margin-bottom: 25px;
}

.paragraph {
    margin: 3vh; 
}
